
/* H E A D E R */

.header-block {
	background-color: #5FB27B;
}

header .container {
	padding-top: 15px;
	padding-bottom: 15px;
}

.container {
	margin: auto;
	max-width: 100%;
	position: relative;
}

.container:after {
	clear: both;
	content: " ";
	display: table;
}

.logo {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	display: block;
	width: 210px;
	height: 48px;
	margin: 0 30px 0 0;
	float: left;
	background-image: url(../images/logo.png);
/*	background-size: contain; */
    background-repeat: no-repeat;
}

header .link {
	line-height: 32px;
	padding: 2px 0;
	margin-right: 25px;
	vertical-align: middle;
	border-bottom: 1px solid rgba(0,0,0,0);
	transition: .3s;
	font-weight: bold;
	font-size: 12px;
	color: #f0f0f0;
	float: right;
}

.page-head {
	color: white;
	padding: 30px 30px 130px;
	margin-bottom: -87px;
	text-align: center;
}

.page-head .lead {
	color: rgba(255,255,255,0.95);
	margin: 0;
}

/* C O N T E N T   C O N T A I N E R */

.col-wrapper {
	position: relative;
	padding: 0 0 50px;
}

.col-wrapper:before {
	content: " ";
	display: table;
}

.col-wrapper:after {
	clear: both;
	content: " ";
	display: table;
}

.content-container {
	border: 1px solid #e0e0e0;
	background-color: #fff;
	border-radius: 3px;
	border-bottom: 60px;
}

.col-body {
	padding: 30px;
	width: 100%;
	margin: auto;
}

.markdown-body {
	font-size: 15px;
	line-height: 1.7;
	overflow: hidden;
}